header{
    background-color: #4b4b4b;
    width: auto;
    height: 10%;
    border: 1px slategrey solid;
}
body{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    width: auto;
    height: 90%;
}
.menu{
    border: 1px slategrey solid;
    width: 300px;
    background-color:#4b4b4b;
}
.vb{
    
    border: 1px slategrey solid;
    width: 100%;
    background-color: #4b4b4b;
}
.boards{
    display: flex;
}
.boards-container {
    padding: 16px;
  }
  
  .board-card {
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .board-card:hover {
    background-color: #3d3d3d;
  }
  
  