
<header>
    <button *ngIf="isUserLoggedIn$ | async" (click)="logout()">Выйти</button>
</header>
<div class="main">
    <div class="menu"></div>
    <div class="vb">
        <p>Доски</p>
        <div class="boards">
            <button (click)="showModal = true">Создать доску</button>
            <app-create-board
            *ngIf="showModal"
            (create)="handleCreateBoard($event)"
            (close)="showModal = false">
            </app-create-board>
            <div *ngFor="let board of boards" class="board-card" (click)="openBoard(board.title)">
                <h3>{{ board.title }}</h3>
            </div>
        </div>
        
    </div>
</div>

