<div class="login-container">
    <h2>Register</h2>
    <form  #loginForm="ngForm">
      <div class="form-group">
        <form (ngSubmit)="register()">
          <input type="email" placeholder="Email" [(ngModel)]="form.email" name="email" required>
          <input type="password" placeholder="Password" [(ngModel)]="form.password" name="password" required>
          <button type="submit">Зарегистрироваться</button>
        </form>
      </div>
  
      
  
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
        Login
      </button>
      <button (click)="goBack($event)" class="btn btn-secondary">
        Back
      </button>
    </form>

  </div>
  