<h2>Create a new task</h2>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Name:</label>
        <input type="text" id="title" formControlName="title">
        <div *ngIf="taskForm.get('title')?.invalid && (taskForm.get('title')?.dirty || taskForm.get('title')?.touched)">
            <small>The name is mandatory.</small>
        </div>
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
    </div>

    <div>
        <label for="dueDate">Completion date:</label>
        <input type="date" id="dueDate" formControlName="dueDate">
        <div *ngIf="taskForm.get('dueDate')?.invalid && (taskForm.get('dueDate')?.dirty || taskForm.get('dueDate')?.touched)">
            <small>Completion date is mandatory.</small>
        </div>
    </div>

    <div>
        <label for="priority">Priority:</label>
        <select id="priority" formControlName="priority">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
    </div>

    <div>
        <label for="status">Status:</label>
        <select id="status" formControlName="status">
            <option value="open">Open</option>
            <option value="in progress">In Work</option>
            <option value="completed">Finished</option>
        </select>
    </div>

    <button type="submit" [disabled]="taskForm.invalid">Create</button>
</form>